.footer {
    width: 100%;
    margin: 200px auto;
    .clients{
        background-color: #F5F5F5;
        width: 100%;
        padding: 100px 0;
        .container {
                display: flex;
                justify-content: space-between;
                width: 1200px;
                gap: 40px;
                margin: auto;
        }

        img {
            width: auto;
            object-fit: fill;
        }
    }
    .details{
        background-color: #42526B;
        padding: 80px 100px 0 50px;
        .details-cont{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        
        .right {
            display: flex;
        }
        .left {
            .contact {
                display: flex;
            }
        }
    }
}