.testimonial {
    margin-bottom: 100px;
    .testy {
        width: 500px;
        text-align: center;
        margin: auto;

        .quotes{
            display: flex;

            img {
                display: flex;
                width: 50px;
                height: 50px;
            };
        }
    }

    .line {
        text-align: center;
    }
    .directors {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: auto;

        .director {
            display: flex;
            align-items: center;
            width: 300px;
            gap: 8px;

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }
    }
}